:root{
    --heading-poppins: 'Poppins', sans-serif;
    
    --paragraph-SF-Ultralight:'SF UI Display Ultralight';
    --paragraph-SF-Thin:'SF UI Display Thin';
    --paragraph-SF-Light:'SF UI Display Light';
    --paragraph-SF-Medium:'SF UI Display Medium';
    --paragraph-SF-Semibold:'SF UI Display Semibold';
    --paragraph-SF-Bold:'SF UI Display Bold';
    --paragraph-SF-Heavy:'SF UI Display Heavy';
    --paragraph-SF-Black:'SF UI Display Black';

    --montserrat: 'Montserrat', sans-serif;
    
    --heading-bold: 700;
    --heading-medium: 600;
    --heading-regular: 400;

    --paragraph-bold: 500;
    --paragraph-medium: 400;
    --paragraph-regular: 300;

    --blue-primary: #329FC0;
    --green-primary: #2FBF90;
    --orange-primary: #FF9D00;
    --red-primary: #C82B5E;
    --red-pure: #BA0000;

    --low-pure: #07070E;
    --low-medium: #A3A3A3;
    --high-pure: #FDFEFF;
    

    --tittle-light: #292A2C;
    --tittle-smaller-primary: #A3A3A3;

    --subheads: #8A94A6;
    --paragraphs: #A9AFB9;
    --extra: #C8C8C8;


    --line-xs:  115.2%;
    --line-sm:  120%;
    --line-md:  133%;
    --line-lg:  150%;
    --line-xl:  170%;
    --line-xxl: 200%;
    
    --font-xs: 24px;
    --font-sm: 32px;
    --font-md: 48px;
    --font-lg: 72px;
    --font-xl: 96px;
    --font-xxl: 208px;

    --border-circular: 50%


}
body a{
    color: #FFFFFF;
}
body{
    overflow-x: hidden;

    scroll-behavior: smooth;
}

#body{
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.active-testes{
    filter: saturate(100%);
    background-color: #F5FCF9;
    opacity: 1;
}
.apaga__tab{
    display: none;
}

.destaque__blue{
    color: var(--blue-primary);
    font-family: var(--heading-poppins);
}
.destaque__green{
    color: var(--green-primary);
    font-family: var(--heading-poppins);
}
.destaque__yellow{
    color: var(--orange-primary);
    font-family: var(--heading-poppins);
}
.destaque__red{
    color: var(--red-primary);
    font-family: var(--heading-poppins);
}

.gradient{
    position: relative;
    background: linear-gradient(360deg, rgba(7, 7, 14, 0.69) 29.06%, rgba(0, 0, 0, 0) 149.75%);
    height: 21.375rem;
    width: 19rem;
    top: -21.6rem;

    opacity: 1;
    z-index: 10;

    border-radius: 6.7451px;

}
.active{
    opacity: 1;
}