@media (min-width:0px){
    #body{
        background-color: #E7EAF2;
    }
    #botao-tipo-mobile{
        display: none;
    }
    /*-----------------FEED--------------------*/
    .conteudo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2.063rem;
        
        padding-left: 2.063rem;
        padding-right: 2.063rem;
        padding-top: 7.125rem;
        padding-bottom: 22.25rem;
        
    }
    .secao__produtos___feed{
        display: flex;
        flex-direction: column;

        width: 62vw;
    }
        /*------------------TOPICOS-------------------*/
        .secao___topicos{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1.313rem;

            margin-bottom: 1.313rem;
        }
        .titulo__topicos{
            font-family: var(--paragraph-SF-Medium);
            font-weight: var(--paragraph-bold);
            font-size: 16px;
            color: #080808;
        }
        .container__botoes___topicos{
            display: flex;
            flex-direction: row;
            gap: 0.563rem;
            align-items: center;
        }
        .botoes__topicos{

            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
            padding-left: 0.938rem;
            padding-right: 0.938rem;

            background: #F7F9FF;
            border-radius: 6px;
            border: none;

            font-family: var(--paragraph-SF-Medium);
            font-weight: var(--paragraph-bold);
            font-size: 14px;
            letter-spacing: .03rem;

            color: #080808;
            transition: all .1s ease-in-out;
        }
        .botoes__topicos:hover{
            background-color: #FFFFFF;

            transition: all .1s ease-in-out;
        }
        /*------------------MARCAS-------------------*/
        .container__titulo___marcas{
            padding-top: 1.875rem;
            padding-left: 3.2rem;
            padding-right: 6.109rem;

            background: #FFFFFF;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;

            display: none;
            
        }
        .titulo__marcas___feed{
            font-family: var(--paragraph-SF-Medium);
            font-weight: var(--paragraph-bold);
            font-size: 16px;
            color: #080808;
        }
        .container__marcas-drag{
            display: none;
            flex-direction: row;
            align-items: center;
            gap: 6.551rem;

            padding-top: 1.875rem;
            padding-bottom: 2.919rem;
            padding-left: 4.8rem;
            padding-right: 6.109rem;

            margin-bottom: 2.063rem;

            scrollbar-width: none;

            cursor: grab;

            overflow-x: scroll;

            background: #FFFFFF;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }
        .container__marcas-drag:active{
            cursor: grabbing;
        }
        .container__marcas-drag::-webkit-scrollbar{
            display: none;
        }
        .container__marcas{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
        }
        .imagem__marca{
            width: 2.5rem;
            height: 2.563rem;

            border-radius: 50%;
        }
        .container__nome___marca{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.406rem;

            font-family: var(--paragraph-SF-Medium);
            font-weight: var(--paragraph-bold);
            font-size: 13.15px;
            letter-spacing: .03rem;

            color: #080808;
        }
        .imagem__origem-marca{
            width: 1.188rem;
            height: 0.858rem;
        }
        /*------------------PRODUTOS-------------------*/
        .secao__produtos{
            display: flex;
            flex-direction: column;

            

            padding-top: 1.75rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            padding-bottom: 5.063rem;

            background: #FFFFFF;
            border-radius: 12px;
        }
        .cabecalho__secao__produtos{
            display: flex;
            flex-direction: row;
            align-items: center;

            gap: 2.5rem;

            margin-bottom: 2.625rem;

            padding-left: .5rem;
            padding-right: .5rem;
        }
        .tablinks{
            background-color: transparent;
            border: none;

            font-family: var(--paragraph-SF-Medium);
            font-weight: var(--paragraph-bold);
            font-size: 16px;
            letter-spacing: .03rem;

            color: #080808;

            opacity: .5;
        }
        .secao__produtos-feed{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            transition: all .3s ease-in-out;
        }
        /*-----------------CARDS-PRODUTOS-------------------*/
        .container__card-produto{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            border-radius: 10.0081px;

            transition: all .2s ease-in-out;

            padding-left: .5rem;
            padding-right: .5rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
        .container__card-produto:hover{
            background-color: #F7F9FF;
            transition: all .2s ease-in-out;
        }
        .container__perfil___produto{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.688rem;
        }
        .imagem__perfil-produto{
            width: 2.625rem;
            height: 2.563rem;

            border-radius: 50%;
        }
        .container__info___perfil-produto{
            display: flex;
            flex-direction: column;
            gap: 0.256rem;
        }
        .nome__perfil___produto{
            font-family: var(--paragraph-SF-Medium);
            font-weight: var(--paragraph-bold);
            font-size: 16px;
            letter-spacing: .03rem;

            color: #080808;
        }
        .arroba__perfil___produto{
            font-family: var(--paragraph-SF-Medium);
            font-weight: var(--paragraph-bold);
            font-size: 14px;
            letter-spacing: .03rem;

            color: #979797;
        }
        .secao__conteudo___produto{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1.125rem;
        }
        .imagem__produto{
            width: 17.688rem;
            height: 14.188rem;
            
            border-radius: 10.0081px;
        }
        .secao__info___produto{
            display: flex;
            flex-direction: column;
        }
        .titulo__info___produto{
            font-family: var(--montserrat);
            font-weight: var(--heading-bold);
            font-size: 20px;

            margin-bottom: 1.063rem;

            color: #07070E;
        }
        .descricao__info___produto{
            font-family: var(--paragraph-SF-Medium);
            font-weight: var(--paragraph-bold);
            font-size: 14px;

            line-height: 150%;

            color: #07070E;

            margin: 0%;
            margin-bottom: 1.063rem;
        }
        .container__topicos-produto{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.563rem;

            margin-bottom: 1.688rem;
        }
        .botoes__topicos___produto{
            padding-top: 0.313rem;
            padding-bottom: 0.313rem;
            padding-left: 0.938rem;
            padding-right: 0.938rem;

            background: #F5F5F5;

            border-radius: 6px;
            border: none;

            font-family: var(--paragraph-SF-Medium);
            font-weight: var(--paragraph-bold);
            font-size: 14px;

            letter-spacing: .03rem;

            color: #9F9F9F;
        }
        .container__rodape___produto{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1.25rem;
        }
        .horario___rodape___produto{
            font-family: var(--paragraph-SF-Medium);
            font-weight: var(--paragraph-bold);
            font-size: 12px;

            line-height: 150%;

            color: #9B9999;
        }
        .tempo__leitura___produto{
            font-family: var(--paragraph-SF-Medium);
            font-weight: var(--paragraph-bold);
            font-size: 12px;

            line-height: 150%;

            color: #9B9999;

            padding-left: .8rem;

            background-image: url("../../Assets/Feed/Imagem-produtos-feed/icone-tempo-feed.svg");
            background-repeat: no-repeat;
            background-position-x: left;
            background-position-y: center;

            background-size: .35rem .35rem;
        }
        .item__botao-lista{
            display: flex;
            justify-content: flex-end;

            width: 6.765rem;
        }
        .botao__tipo___produto{
            border: none;
            border-radius: 7px;

            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
            padding-left: 2.188rem;
            padding-right: 1.313rem;

            font-family: var(--paragraph-SF-Semibold);
            font-weight: var(--paragraph-bold);
            font-size: 12px;

            color: #FFFFFF;

            
            background-position-y: center;
            background-repeat: no-repeat;
        }
        .tipo__produto___revisao{
            background-color: var(--green-primary);

            background-position-x: .3rem;
            background-image: url("../../Assets/Avaliacao/Vetores/vetor-revisao.svg");
            background-size: 2rem 2rem;
        }

        .tipo__produto___avaliacao{
            background-color: var(--blue-primary);

            background-position-x: .3rem;
            background-image: url("../../Assets/Avaliacao/Vetores/vetor-avaliacao.svg");

            background-size: 2rem 2rem;
        }
        .tipo__produto___opiniao{
            background-color: var(--orange-primary);

            background-position-x: .3rem;
            background-image: url("../../Assets/Avaliacao/Vetores/vetor-opiniao.svg");

            background-size: 2rem 2rem;
        }
        .tipo__produto___descricao{
            background-color: var(--red-primary);

            background-position-x: .3rem;
            background-image: url("../../Assets/Avaliacao/Vetores/vetor-descricao.svg");

            background-size: 2rem 2rem;
        }
    /*------------------SIDE-BAR-------------------*/
        .secao__sidebar___feed{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .link__escreva___opiniao{
            text-align: center;

            background-color: var(--orange-primary);

            padding-top: .8rem;
            padding-bottom: .8rem;
            padding-right: 4.5rem;
            padding-left: 4.5rem;

            margin-bottom: 1.2rem;

            border-radius: 7px;

            font-family: var(--paragraph-SF-Light);
            font-weight: var(--paragraph-bold);
            letter-spacing: .03rem;
            font-size: 14px;

        }
            /*------------------ENGAJADOS-------------------*/
            .secao__engajados___semana{
                display: flex;
                flex-direction: column;

                background: #FFFFFF;
                border-radius: 12px;
                
                padding-top:1.875rem;
                padding-bottom: 0.813rem;
                padding-right: 2rem;
                padding-left: 2.125rem;

                overflow-y: hidden;
            }   
            .titulo__secao___engajados{
                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 16px;

                color: #080808;

                margin-bottom: 1.25rem;
            }   
            .imagem__principal___engajados{
                width: 20.938rem;
                height: 10.5rem;
                
                border-radius: 8px;

                margin-bottom: 1.5rem;
            }
            .lista__engajados___semana{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                overflow-y:hidden;

                padding-left: 1rem;

                height: 15.6rem;

                transition: all .5s ease-in;
            }
            .item__lista___engajados{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: .5rem;
            }
            .imagem__perfil___engajado{
                width: 2.75rem;
                height: 2.75rem;

                border-radius: 8px;
            }
            .info__perfil___engajado{
                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 16px;

                color: #080808;

                margin: 0%;

                width: 13.563rem;
            }
            .botao__ver-mais___engajados{
                background-color: #FFFFFF;

                margin-top: 1.625rem;
                
                border: none;

                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 16px;

                color: #979797;
            }
            .botao__ver-menos___engajados{
                background-color: #FFFFFF;

                margin-top: 1.625rem;
                
                border: none;

                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 16px;

                color: #979797;

                display: none;
            }
            /*------------------TOPICOS-------------------*/
            .secao__topicos___sidebar{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.938rem;

               width: 23rem;

               margin-top: 2.5rem;
               margin-bottom: 2.813rem;
            }
            .titulo__topicos-sidebar{
                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 16px;
                color: #080808;

                padding-left: .4rem;
            }
            .container__botoes___topicos-sidebar{
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                gap: 0.563rem;
                
            }
            .botoes__topicos-sidebar{
                padding-top: 0.625rem;
                padding-bottom: 0.625rem;
                padding-left: 0.938rem;
                padding-right: 0.938rem;

                background: #F7F9FF;
                border-radius: 6px;
                border: none;

                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 14px;
                letter-spacing: .03rem;

                color: #080808;
                transition: all .1s ease-in-out;
            }
            .botoes__topicos-sidebar:hover{
                background-color: #FFFFFF;

                transition: all .1s ease-in-out;
            }
            /*-----------SEGUIDORES---------------*/
            .secao__seguidores{
                display: flex;
                flex-direction: column;


                background: #FFFFFF;

                border-radius: 12px;

                padding-top: 1.875rem;
                padding-bottom: 0.813rem;
                padding-right: 2rem;
                padding-left: 2.125rem;

                overflow-y: hidden;
                overflow-x: hidden;

                width: 25.063rem;
            }
            .titulo__seguidores{
                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 16px;

                color: #080808;

                margin: 0%;
                margin-bottom: 1.875rem;
            }
            .container__seguidor{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 20rem;
            }
            .lista__seguidores{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                height: 25rem;

                overflow-y: hidden;

                transition: all .5s ease-in;
            }
            .perfil__seguidor{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.563rem;
            }
            .imagem__perfil___seguidor{
                width: 1.875rem;
                height: 1.875rem;

                border-radius: 50%;
            }
            .container__info__perfil-seguidor{
                display: flex;
                flex-direction: column;
            }
            .nome__seguidor{
                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 16px;

                color: #080808;
            }
            .arroba__seguidor{
                font-family: var(--paragraph-SF-Light);
                font-weight: var(--paragraph-bold);
                font-size: 14px;

                letter-spacing: .03rem;

                color: #979797;
            }
            .botao__seguindo___perfil{
                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 16px;

                letter-spacing: .03rem;

                color: #080808;

                border: none;
                background-color: transparent;
            }
            .botao__ver-mais___seguidores{
                background-color: #FFFFFF;

                margin-top: 1.625rem;
                
                border: none;

                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 16px;

                color: #979797;
            }
            .botao__ver-menos___seguidores{
                background-color: #FFFFFF;

                margin-top: 1.625rem;
                
                border: none;

                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 16px;

                color: #979797;

                display: none;
            }
            /*-----------ULTIMAS-POSTAGENS---------------*/
            .secao__ultimas-postagens{
                display: flex;
                flex-direction: column;


                background: #FFFFFF;

                border-radius: 12px;

                padding-top: 1.875rem;
                padding-bottom: 0.813rem;
                padding-right: 2rem;
                padding-left: 2.125rem;

                overflow-y: hidden;
                overflow-x: hidden;

                width: 25.063rem;

                margin-top: 1.938rem;
            }
            .titulo__ultimas-postagens{
                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 16px;

                color: #080808;

                margin: 0%;
                margin-bottom: 1.875rem;
            }
            .container__perfil-ultimas-postagens{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 20rem;
            }
            .lista__ultimas-postagens{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                height: 17rem;

                overflow-y: hidden;

                transition: all .5s ease-in;
            }
            .perfil__ultimas-postagens{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.563rem;
            }
            .imagem__perfil___ultimas-postagens{
                width: 1.875rem;
                height: 1.875rem;

                border-radius: 50%;
            }
            .container__info__perfil-ultimas-postagens{
                display: flex;
                flex-direction: column;
            }
            .nome__ultimas-postagens{
                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 16px;

                color: #080808;
            }
            .seguindo__ultimas-postagens{
                font-family: var(--paragraph-SF-Light);
                font-weight: var(--paragraph-bold);
                font-size: 14px;

                letter-spacing: .03rem;

                color: #979797;
            }
            .botao__seguindo___perfil{
                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 16px;

                letter-spacing: .03rem;

                color: #080808;

                border: none;
                background-color: transparent;
            }
            .botao__ver-mais___ultimas-postagens{
                background-color: #FFFFFF;

                margin-top: 1.625rem;
                
                border: none;

                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 16px;

                color: #979797;
            }
            .botao__ver-menos___ultimas-postagens{
                background-color: #FFFFFF;

                margin-top: 1.625rem;
                
                border: none;

                font-family: var(--paragraph-SF-Medium);
                font-weight: var(--paragraph-bold);
                font-size: 16px;

                color: #979797;

                display: none;
            }
            .imagem__ultima-postagens{
                width: 1.875rem;
                height: 1.875rem;

                border-radius: 3px;
            }

    #rodape__feed{
        border-top: none;
    }
    .secao__info___mobile-sidebar{
        display: none;
    }
}       