@media (min-width:0px){

    .conteudo{
        display: flex;
        flex-direction: row;
    }
    /*-----------------SECAO-BACKGROUND-COLOR-----------------*/
    .secao__background-color{
        height: 100vh;
        width: 33vw;
        
        padding-top: 6rem;
        padding-left: 2.5rem;
        padding-right: 3.313rem;

        background-color: var(--low-pure);

    }
    @keyframes mudaBackground {
        0%{
            background-color: var(--blue-primary);
        }
        50%{
            background-color: var(--orange-primary);
        }
        100%{
            background-color: var(--green-primary);
        }
    }
    .descricao__background-color{
        font-family: var(--heading-poppins);
        font-weight: var(--heading-bold);
        font-size: 30px;

        color: #FFFFFF;

        margin: 0%;
        margin-top: 2rem;
    }
    /*-----------------LOGIN-----------------*/
    .secao__login___detalhei{
        width: 67vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.438rem;
    }
    .container__link___inscrever{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;

        width: 50vw;

        justify-content: flex-end;
    }
    .titulo__inscrever{
        font-family: var(--heading-poppins);
        font-weight: var(--paragraph-regular);
        font-size: 14px;

        color: #000000;

        margin: 0%;
    }
    .link__inscrever{
        color: var(--blue-primary);

        font-family: var(--heading-poppins);
        font-weight: var(--paragraph-regular);
        font-size: 14px;

        margin: 0%;
    }
    .secao__vincular-contas{
        width: 34rem;
        
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
    }
    .titulo__vincular-contas{
        font-family: var(--heading-poppins);
        font-weight: var(--heading-bold);
        font-size: 24px;

        color: #000000;

        margin: 0%;
    }
    .container__botoes___vincular-contas{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.25rem;
    }
    .botao__vincular__google{
        padding-top: 0.85rem;
        padding-bottom: 0.85rem;
        padding-left: 4.2rem;
        padding-right: 3.1rem;  

        margin-right: 3rem;

        background-color: var(--blue-primary);
        background-image: url("../../Assets/Login/icone-google-vincular.svg");
        background-repeat: no-repeat;
        background-position-x: 2rem;
        background-position-y: center;


        border-radius: 5px;
        border:none;

        font-family: var(--heading-poppins);
        font-weight: var(--heading-bold);
        font-size: 14px;

        color: #FFFFFF;
    }
    .botao__vincular___twitter{
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
        padding-left: 1.4rem;
        padding-right: 1.4rem;

        background-color: #E8E8E8;
        background-image: url("../../Assets/Login/icone-twitter-vincular.svg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;


        border-radius: 5px;
        border:none;
    }
    .botao__vincular___facebook{
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
        padding-left: 1.4rem;
        padding-right: 1.4rem;

        background-color: #E8E8E8;
        background-image: url("../../Assets/Login/icone-facebook-vincular.svg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;


        border-radius: 5px;
        border:none;
    }
    .titulo__ou{
        width: 27rem;
        text-align: center;

        font-family: var(--paragraph-SF-Light);
        font-weight: var(--paragraph-regular);
        font-size: 14px;

        color: #878888;

        background-image: url("../../Assets/Login/vetor-linha.svg"),url("../../Assets/Login/vetor-linha.svg");

        background-repeat: no-repeat;
        background-position: -1rem center, 15rem center;

        margin-top: 1.25rem;
    }

    .secao__input___login{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        width: 34rem;
    }
    .container__input___login{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap:.5rem;
    }
    .label__input-email{
        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-bold);
        font-size: 14px;

        color: #000000;
    }
    .input__email___login{
        font-family: var(--paragraph-SF-Light);
        font-weight: var(--paragraph-regular);
        font-size: 14px;

        color: #878888;

        width: 27rem;

        background: #E8E8E8;
        border-radius: 5px;
        border: none;

        padding-top: 0.938rem;
        padding-left: 0.625rem;
        padding-bottom: 0.938rem;
    }
    .input__email___login:focus, .input__senha___login:focus{
        outline: 1px solid #878888;
    }
    .label__input-senha{
        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-bold);
        font-size: 14px;

        color: #000000; 
    }
    .input__senha___login{
        font-family: var(--paragraph-SF-Light);
        font-weight: var(--paragraph-regular);
        font-size: 14px;

        color: #878888;

        width: 27rem;

        background: #E8E8E8;
        border-radius: 5px;
        border: none;

        padding-top: 0.938rem;
        padding-left: 0.625rem;
        padding-bottom: 0.938rem;
    }
    .botao__visualizar-senha{
        background-color: transparent;

        position: relative;

        top: -2.4rem;
        left: 24.8rem;

        width: 1.375rem;
        height: 0.938rem;

        border: none;

        background-image: url("../../Assets/Login/icone-mostra-senha-login-blur.svg");
        background-repeat: no-repeat;
        background-position: center center;

        transition: all .2s ease-in-out;
    }
    .input__senha___login:focus + .botao__visualizar-senha{
        background-image: url("../../Assets/Login/botao-mostra-senha-focus-ativado.svg");

        transition: all .2s ease-in-out;
    }

    .link__esqueceu-senha{
        font-family: var(--paragraph-SF-Light);
        font-weight: var(--paragraph-regular);
        font-size: 12px;

        letter-spacing: .04rem;

        color: #000000;

        position: relative;
        top: -2rem;
    }
    .botao__logar-detalhei{
        background-color: #2FBF90;

        width: 27.063rem;

        text-align: center;
        padding: 0.938rem 0;

        border-radius: 5px;

        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-bold);
        font-size: 14px;

        color: #FFFFFF;

        opacity: .4;
    }
    .texto__rodape___login{
        width: 34rem;
        font-family: var(--heading-poppins);
        font-size: 14px;

        color: #878888;

        padding-right: 8rem;
        line-height: 21px;

        margin: 0%;
        margin-top: .5rem;
    }
    .recaptcha-rodape{
        font-weight: 700;
    }
    .link__politica-rodape{
        color: var(--blue-primary);
    }
    .link__termos-rodape{
        color: var(--blue-primary);
    }
    .container__vincular___contas-mobile{
        display: none;
    }
    #botao__vincular___twitter-mobile{
        display: block;
    }
    #botao__vincular___facebook-mobile{
        display: block;
    }
}