@media (min-width:0px){
    /*-------------------------INFO-PERFIL--------------------------*/
    .secao__banner___perfil{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imagem__banner___perfil{
        width: 100vw;
        height: auto;

        border: 1px solid #EFEFEF;
        border-radius: 0px 0px 9px 9px;
    }
    .input-file__banner{
        all: unset;
    }
    input[type="file"] {
        display: none;
    }
    .container__input-file{
        position: relative;
        top: -3.5rem;

        left: 95%;

        cursor: pointer;
    }
    .container__input-file:hover{
        cursor: pointer;
    }
    .label__input-file-banner{
        cursor: pointer;
    }
    .secao__info___banner-perfil{
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;
        top: -6rem;
    }
    .container__imagem-info___perfil{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0rem;

        border: none;
        background-color: transparent;
    }
    .container__input-file-perfil{
        position: relative;

        top: -1.7rem;
        left: 1.8rem;
    }
    .imagem__perfil{
        width: 6.313rem;
        height: 6.313rem;

        border-radius: 50%;
    }
    .info-imagem__perfil{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.875rem;

        position: relative;
        top: -1rem;
    }
    .titulo__info-perfil{
        font-family: 'SF UI Display Light';
        font-size: 18px;

        letter-spacing: 0.04rem;

        color: #07070E;

        margin: 0%;
        margin-top: 0.125rem;

        background-image: url("../../Assets/Feed/Imagem-feed/icone-brasil-topicos.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 1.625rem auto;

        padding-right: 2rem;
    }
    .numeros-seguidores-info{
        font-family: 'SF UI Display Medium';
        font-size: 18px;

        letter-spacing: 0.04rem;

        color: #9B9999;

    }
    .descricao__info-perfil{
        font-family: var(--heading-poppins);
        font-weight: 600;
        font-size: 20px;

        letter-spacing: 0.04rem;
        line-height: 150%;

        color: #07070E;

        width: 30.688rem;

        text-align: center;

        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .secao__redes-info___perfil{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.875rem;
    }
    .link__rede-info___perfil{
        padding: 1rem 1rem .8rem 1rem;

        background: #F8F8F8;

        border: 1px solid #F0F0F0;
        border-radius: 12px;
    }
    .secao__botoes___info-perfil{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.438rem;

        margin-top: 2.5rem;
    }
    .botao__seguir-info___perfil{
        padding: .938rem 6.313rem;

        font-family: var(--paragraph-SF-Light);
        font-weight: var(--paragraph-bold);
        font-size: 16px;

        letter-spacing: .05rem;

        margin: 0%;

        color: #FFFFFF;

        background-color: var(--blue-primary);

        border-radius: 12px;
        border: none;
    }
    .botao__compartilha-info___perfil{
        padding: .938rem 6.313rem;

        font-family: var(--paragraph-SF-Light);
        font-weight: var(--paragraph-bold);
        font-size: 16px;

        letter-spacing: .05rem;

        margin: 0%;

        color: #000000;

        background-color: transparent;

        border: 1px solid #F0F0F0;
        border-radius: 12px;
    }
    /*-----------------------PERFIL-EXPANDIDO--------------------*/
    .link__codigo___amazon{
        font-family: var(--paragraph-SF-Medium);
        font-size: 14px;
        letter-spacing: .03rem;

        color: var(--blue-primary);

        width: 27rem;
    }
    .label__input___perfil-redes-amazon{
        padding: .1rem .25rem .1rem .25rem;
        background: #F8F8F8;
        border: 1px solid #F0F0F0;
        border-radius: 12px;
    }
    .container__perfil-expandido{
        opacity: 0;

        position: fixed;
        z-index: 2000000;
    
        animation: animaExpansao .3s ease-in-out forwards;
    
        background: rgba(0, 0, 0, 0.35);
    
        height: 100vh;
        width: 100vw;
    
        top: 0%;
        left: 0%;

        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        overflow-y: scroll;
        overscroll-behavior: contain;
    }
    .secao__perfil-expandido{
        display: flex;
        flex-direction: column;
        align-items: center;

        background: #FFFFFF;
        border-radius: 4px;

        width: 70.125rem;
        height: 82vh;

        padding-bottom: 8rem;

        overflow-y: scroll;
        overscroll-behavior: contain;

        overflow-x: hidden;
    }
    .container__botao___fecha-perfil{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        width: 70.125rem;

        padding-bottom: 1.5rem;
        padding-top: 1.813rem;
        padding-right: 1.813rem;


    }
    .botao__fecha___perfil-expandido{
        border: none;
        width: 1.167rem;
        height: 1.167rem;

        background-color: transparent;
        background-image: url("../../Assets/Avaliacao/Vetores/vetor-fehca-modal.svg");
        background-repeat: no-repeat;
        background-position: center center;

        background-size: 1.7rem 1.7rem;
    }
    @keyframes animaExpansao {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    @keyframes animaFechaExpansao {
        from{
            opacity: 1;
        }
        to{
            opacity: 0;
        }
    }
    .secao__input___perfil{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    .container__input___perfil{
        display: flex;
        flex-direction: column;
        gap: .5rem;

        width: 27rem;
    }
    .label__input___perfil{
        font-family: 'SF UI Display Medium';
        font-size: 14px;

        letter-spacing: 0.03em;
    }
    .input__perfil{
        font-family: 'SF UI Display Medium';
        font-size: 16px;

        letter-spacing: 0.03em;

        background: #E8E8E8;
        border-radius: 5px;
        border: none;

        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1.313rem;
    }
    .input__perfil:focus{
        outline:1px solid var(--blue-primary);
    }
    .input-perfil-text{
        font-family: 'SF UI Display Medium';
        font-size: 16px;

        letter-spacing: 0.03em;

        background: #E8E8E8;
        border-radius: 5px;
        border: none;

        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1.313rem;

        resize: none;

        height: 10.688rem;
    }
    .input-perfil-text:focus{
        outline:1px solid var(--blue-primary);
    }
    .container__input___perfil-rede{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.063rem;

        width: 27rem;
    }
    .label__input___perfil-redes{
        padding: .5rem .5rem .5rem .5rem;
        background: #F8F8F8;
        border: 1px solid #F0F0F0;
        border-radius: 12px;
    }
    .input-perfil-redes{
        font-family: 'SF UI Display Medium';
        font-size: 16px;

        letter-spacing: 0.03em;

        background: #E8E8E8;
        border-radius: 5px;
        border: none;

        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1.313rem;

        width: 22.188rem;
    }
    .input-perfil-redes:focus{
        outline:1px solid var(--blue-primary);
    }
    .titulo__input___perfil{
        font-family: 'SF UI Display Light';
        font-size: 16px;

        letter-spacing: 0.05em;

        width: 27rem;

        margin-top: 3.188rem;
    }
    .secao__botoes___perfil{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;

        width: 70.125rem;

        padding-right: 1.813rem;

        margin-top: 2rem;
    }
    .botao__salva___perfil{
        background: var(--blue-primary);

        border-radius: 8px;
        border: none;

        padding: .938rem 5.313rem;

        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--heading-bold);
        font-size: 14px;

        letter-spacing: 0.05rem;

        color: #FFFFFF;
    }
    .botao__cancela___perfil{
        padding: .938rem 3.313rem;

        font-family: var(--paragraph-SF-Light);
        font-weight: var(--paragraph-bold);
        font-size: 16px;

        letter-spacing: .05rem;

        margin: 0%;

        color: #000000;

        background-color: transparent;

        border: none;
        border-radius: 12px;
    }
    /*-----------------------CRIA-ARTIGOS------------------------*/
    .secao__cria-artigos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.875rem;
    }
    .container__cria-artigos{
        padding-top: 1.313rem;
        padding-left: 1.938rem;
        padding-bottom: 1.063rem;

        border: none;
        border-radius: 7px;

        width: 16.125rem;

        display: flex;
        flex-direction: row;
        align-items: flex-start;

        opacity: .7;
    }
    .titulo__cria-artigo{
        font-family: var(--heading-poppins);
        font-weight: 600;
        font-size: 25px;

        line-height: 150%;

        width: 11.5rem;

        text-align:left;

        color: #FFFFFF;
    }
    .cria-artigo-revisao{
        background-color: var(--green-primary);
    }
    .cria-artigo-avaliacao{
        background-color: var(--blue-primary);
    }
    .cria-artigo-opiniao{
        background-color: var(--orange-primary);
    }
    .cria-artigo-descricao{
        background-color: var(--red-primary);
    }
    /*------------------------SEGUIDORES-------------------------*/
    .secao__seguidores-perfil{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.375rem;

        margin-top: 4.813rem;
    }
    .secao__cabecalho___seguidores{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 76.125rem;
    }
    .container__primeiro-cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7.5rem;
    }
    .container__numero-seguidores{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .3rem;
    }
    .nome-perfil__seguidores{
        font-family:  'SF UI Display Medium';
        font-size: 18px;

        color: #9B9999;
    }
    .numero-seguidores__cabecalho{
        font-family:  'SF UI Display Semibold';
        font-size: 18px;

        color: #000000;
    }
    .tabs-cabecalho__seguidores{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3.063rem;
    }
    .tablinks{
        font-family:  'SF UI Display Medium';
        font-size: 18px;

        color: #000000;

        opacity: .4;

        border: none;
        background-color: transparent;
    }
    .active{
        opacity: 1;
    }
    .botao__ver-todos-seguidores{
        font-family:  'SF UI Display Medium';
        font-size: 18px;

        color: var(--blue-primary);

        border: none;
        background-color: transparent;

        position: relative;
        top: -4.75rem;
        left: 34.5rem;
    }


        /*---------------------CARD--SEGUIDORES--------------------*/
        .secao__card___seguidores{
            display: flex;
            flex-direction: column;
            align-items: center;

            padding-top: 2rem;
            padding-bottom: 4.313rem;

            background: #F2F2F2;

            border-radius: 15px;

            width: 76.125rem;
        }
        .lista__seguidores{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            gap: 4.813rem;
        }
        .container__seguidor{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.531rem;

            width: 12rem;
        }
        .link__seguidor{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.531rem;
        }
        .imagem__seguidor{
            width: 6.313rem;
            height: 6.313rem;

            border-radius: 50%;

            margin-bottom: 0.469rem;
        }
        .arroba__seguidor{
            font-family: var(--paragraph-SF-Medium);
            font-weight: var(--paragraph-bold);
            font-size: 12px;

            margin: 0%;
            margin-bottom: 0.75rem;

            color: #A6A6A6;
        }
        .botao__seguir___seguidor{
            padding: .5rem 3.469rem;

            font-family: var(--paragraph-SF-Light);
            font-weight: var(--paragraph-bold);
            font-size: 16px;

            letter-spacing: .05rem;

            margin: 0%;

            color: #FFFFFF;

            background-color: var(--blue-primary);
            border-radius: 12px;
            border: none;

            display: none;
        }
        .botao__seguindo___seguidor{
            padding: .5rem 2.75rem;

            font-family: var(--paragraph-SF-Light);
            font-weight: var(--paragraph-bold);
            font-size: 16px;

            letter-spacing: .05rem;

            margin: 0%;

            color: #7A7A7A;

            background-color: #FFFFFF;
            border-radius: 12px;
            border: none;

            display: none;
        }
        .botao__seguir-ativo{
            display: block;
        }
        .container__nome___seguidor{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.406rem;

            font-family: var(--paragraph-SF-Medium);
            font-weight: var(--paragraph-bold);
            font-size: 16px;
            letter-spacing: .03rem;

            color: #080808;
        }
        .imagem__origem-seguidor{
            width: 1.188rem;
            height: 0.858rem;
        }
        /*-----------------------COTAINER-EXPANDIDO--------------------*/
        .container__seguidores-expandido{
            opacity: 0;
    
            position: fixed;
            z-index: 2000000;
        
            animation: animaExpansao .3s ease-in-out forwards;
        
            background: rgba(0, 0, 0, 0.35);
        
            height: 100vh;
            width: 100vw;
        
            top: 0%;
            left: 0%;
    
            display: none;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .secao__seguidores-expandido{
            display: flex;
            flex-direction: column;
            align-items: center;
    
            background: #F2F2F2;
            border-radius: 4px;

            width: 70.125rem;

            padding-bottom: 8rem;
        }
        .secao__cabecalho___seguidores-expandido{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 16rem;

            padding-left: 19rem;
            padding-top: 4.375rem;

            margin-bottom: 3.938rem;
        }
        .input__pesquisa{
            width: 26.063rem;

            font-family: var(--heading-poppins);
            font-weight: 500;
            font-size: 13px;
            
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            padding-left: 3.688rem;

            background: #FFFFFF;

            border: 3px solid rgba(255, 255, 255, 0.4);
            border-radius: 8px;

            background-image: url("../../Assets/Perfil/Vetores/search-normal.svg");
            background-position: 1.5rem center;
            background-repeat: no-repeat;
        }
        .input__pesquisa:focus{
            outline: 1px solid var(--blue-primary);
        }
        .container__botao___fecha{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
    
            padding-bottom: 1.5rem;
            padding-top: 1.813rem;
            padding-right: 1.813rem;
        }
        .botao__fecha___seguidores-expandido{
            border: none;
            width: 0.938rem;
            height: 0.938rem;
    
            background-color: transparent;
            background-image: url("../../Assets/Avaliacao/Vetores/vetor-fehca-modal.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
        @keyframes animaExpansao {
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }
    
        @keyframes animaFechaExpansao {
            from{
                opacity: 1;
            }
            to{
                opacity: 0;
            }
        }
        .lista__seguidores-expandido{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            gap: 4.813rem;

            width: 64.125rem;

            height: 23rem;

            overflow-y: scroll;
            overscroll-behavior: contain;
        }
    /*--------------------------ARTIGOS-------------------------*/
    .secao__artigos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4.313rem;

        margin-top: 5rem;

        padding-bottom: 6.75rem;
    }
    .tabs-cabecalho__artigos{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3.063rem;
    }
    .tablinks-artigos{
        font-family:  'SF UI Display Medium';
        font-size: 18px;

        color: #000000;

        opacity: .4;

        border: none;
        background-color: transparent;
    }
    .secao__cards___artigos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lista__cards___artigos{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        row-gap: 5.625rem;
        column-gap: 0.75rem;

        width: 76.125rem;
    }
    .item__card___artigo{
        display: flex;
        flex-direction: column;
        width: 18.438rem;
    }
    .container__imagem___artigo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imagem__artigo{
        width: 18.438rem;
        height: auto;
        border-radius: 9px;
    }
    .container__info___artigo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 17.438rem;

        position: relative;
        top: -3.2rem;
    }
    .tempo__info___artigo{
        display: none;
        font-family: var(--heading-poppins);
        font-weight: 600;
        font-size: 12px;

        padding-left: 0.375rem;
        padding-right: 0.375rem;
        padding-top: .175rem;
        padding-bottom: .175rem;

        background: #151414;

        border-radius: 10px;
    }
    .titulo__info___artigo{
        position: relative;
        top: -1rem;

        font-family: var(--heading-poppins);
        font-weight: 700;
        font-size: 18px;

        line-height: 150%;

        color: #000000;
    }
    .container__rodape___artigo{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.25rem;
    }
    .horario___rodape___artigo{
        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-bold);
        font-size: 12px;

        line-height: 150%;

        color: #9B9999;
    }
    .tempo__leitura___artigo{
        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-bold);
        font-size: 12px;

        line-height: 150%;

        color: #9B9999;

        padding-left: .8rem;

        background-image: url("../../Assets/Feed/Imagem-produtos-feed/icone-tempo-feed.svg");
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: center;

        background-size: .35rem .35rem;
    }
    .item__botao-lista{
        display: flex;
        justify-content: flex-end;

        width: 6.765rem;
    }
    .botao__tipo___artigo{
        border: none;
        border-radius: 7px;

        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        padding-left: 2.188rem;
        padding-right: 1.313rem;

        font-family: var(--paragraph-SF-Semibold);
        font-weight: var(--paragraph-bold);
        font-size: 12px;

        color: #FFFFFF;

        
        background-position-y: center;
        background-repeat: no-repeat;
    }
    .tipo__artigo___revisao{
        background-color: var(--green-primary);

        background-position-x: .3rem;
        background-image: url("../../Assets/Avaliacao/Vetores/vetor-revisao.svg");
        background-size: 2rem 2rem;
    }

    .tipo__artigo___avaliacao{
        background-color: var(--blue-primary);

        background-position-x: .3rem;
        background-image: url("../../Assets/Avaliacao/Vetores/vetor-avaliacao.svg");

        background-size: 2rem 2rem;
    }
    .tipo__artigo___opiniao{
        background-color: var(--orange-primary);

        background-position-x: .3rem;
        background-image: url("../../Assets/Avaliacao/Vetores/vetor-opiniao.svg");

        background-size: 2rem 2rem;
    }
    .tipo__artigo___descricao{
        background-color: var(--red-primary);

        background-position-x: .3rem;
        background-image: url("../../Assets/Avaliacao/Vetores/vetor-descricao.svg");

        background-size: 2rem 2rem;
    }
}