@media (max-width:1279px){

    .conteudo{
        display: flex;
        flex-direction: column;
    }
    .secao__background-color{
        width: 100vw;
        height: auto;

        padding-top: 4.563rem;
        padding-bottom: 4.563rem;
    }
    .descricao__background-color{
        font-size: 20px;

        line-height: 143.5%;

        margin-top: 1.25rem;
    }
    /*-----------------LOGIN-----------------*/
    .secao__login___detalhei{
        width: 100vw;

        gap: 2.875rem;

        padding-top: 2.563rem;
        padding-bottom: 3.375rem;
    }
    .container__link___inscrever {
        width: 88vw;

        margin-bottom: .875rem;
    }
    .secao__vincular-contas {
        width: 88vw;
        gap: 1.688rem;
    }
    .container__botoes___vincular-contas {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }
    .container__vincular___contas-mobile{
        display: flex;
        gap: 1.25rem;
    }
    #botao__vincular___twitter-mobile{
        display: none;
    }
    #botao__vincular___facebook-mobile{
        display: none;
    }
    .titulo__ou {
        width: 88vw;

        background-position: -1rem center, 13rem center;
        background-size: 35vw auto, 35vw auto;
    }
    .secao__input___cadastro{
        width: 88vw;
    }
    .secao__cadastro-nome{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 88vw;
    }
    .input__nome___cadastro-login{
        width: 88vw;
    }
    .input__email___cadastro{
        width: 88vw;
    }
    .input__senha___cadastro{
        width: 88vw;
    }
    .secao__validacao-cadastro{
        width: 88vw;
        gap: 1rem;
    }
    .confirma-senha{
        top: 1.5rem;
    }
    .container__input___check {
        width: 88vw;
        top: -1rem;
    }
    .botao__logar-detalhei{
        width: 88vw;
    }
    .texto__rodape___cadastro{
        width: 88vw;

        padding-right: 0%;
    }
    .botao__visualizar-senha{
        left: 88%;
    }
    /*-----------------VERIFICA-EMAIL-------------*/
    .titulo__verifica-email{
        font-size: 18px;
    }
    .descricao__verifica-email{
        font-size: 14px;

        width: 88vw;
    }
    .botao__verifica-email{
        width: 20.625rem;

        background-position-x: 30%;
    }
}