@media (min-width:0px){
    .conteudo{
        background-color: #E7EAF2;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 6.188rem;
    }
    /*-----------------------PAGINACAO--------------------*/
    .secao__paginacao___produtos{
        display: flex;
        flex-direction: row;
        
        width: 70.125rem;
    }
    .container__paginacao___revisao{
        display:flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;

        width: 70.125rem;
    }
    .item__paginacao___revisao{
        font-family: var(--heading-poppins);
        font-weight: var(--paragraph-medium);
        font-size: 16px;

        margin: 0%;

        color: #9B9999;
    }
    .seta__paginacao{
        font-family: var(--heading-poppins);
        font-weight: var(--paragraph-medium);
        font-size: 16px;

        margin: 0%;

        color: #9B9999;
    }
    /*-----------------------FILTROS---------------------*/
    .secao__cabecalho___produto{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        width: 70.125rem;

        margin-top: 1.5rem;
    }
    .titulo__cabecalho___produto{
        font-family: var(--paragraph-SF-Medium);
        font-size: 14px;
        color: #000000;

        letter-spacing: 0.05rem;

        margin: 0%;
    }
    .secao__conteudo___cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 70.125rem;
    }
    .container__filtros___cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.438rem;
    }
    .input__filtro___cabecalho{
        background-color: transparent;
        border: none;

        all: unset;
        
        padding-left: 0.625rem;
        padding-right: 6.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        font-family: var(--paragraph-SF-Light);
        font-size: 14px;
        color: #000000;

        letter-spacing: 0.05rem;

        background-image: url("../../Assets/Produtos/Vetores/seta-down-produtos.svg");
        background-position: 93% center;
        background-repeat: no-repeat;

        background-color: #FFFFFF;
        border-radius: 5px;
    }
    .option__filtro{
        font-family: var(--paragraph-SF-Light);
        font-size: 14px;
        color: #000000;

        background: #FFFFFF;

        border: none;

        padding: 0%;
    }
    .container__botao___filtro{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.25rem;

        border: none;
        background-color: transparent;
        
        padding-left: 3.25rem;
        padding-top: 0.344rem;
        padding-bottom: 0.344rem;

        background-image: url("../../Assets/Produtos/Vetores/vetor-filtros-produtos.svg");
        background-position: left center;
        background-repeat: no-repeat;
    }
    .titulo__filtros{
        font-family: var(--paragraph-SF-Bold);
        font-size: 18px;

        letter-spacing: 0.03rem;

        color: #000000;

    }
    .numeros__filtros{
        font-family: var(--paragraph-SF-Bold);
        font-size: 18px;

        letter-spacing: 0.03rem;

        background-color: var(--blue-primary);
        color: #FFFFFF;

        padding-left: 0.375rem;
        padding-right: 0.375rem;
        padding-top: .1rem;
        padding-bottom: .1rem;


        border-radius: 4.5px;
    }
    .container__botoes___cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .botao__cabecalho{
        background-color: transparent;
        border: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.25rem;

        font-family: var(--paragraph-SF-Bold);
        font-size: 18px;

        color: #000000;
    }
    .botao-cards-desativa{
        display: none;
    }
    .botao-cards-ativa{
        display: flex;
    }
    /*----------------------SECAO-CARDS--------------------*/
    .secao__cards___produtos{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        padding-top: 4.813rem;
        padding-bottom: 2.5rem;

        width: 68.063rem;
    }
    .item__lista___card-produtos{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        width: 68.063rem;

        background: #FFFFFF;

        border: 1px solid #E7EAF2;
        border-radius: 13px;

        padding-top: 2.188rem;
        padding-left: 5.063rem;
        padding-right: 3.438rem;
        padding-bottom: 3.625rem;

        transition: all .5s ease-in-out;
    }
    .secao__cabecalho___item-lista{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .container__perfil___produto{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.688rem;
    }
    .imagem__perfil-produto{
        width: 2.625rem;
        height: 2.563rem;

        border-radius: 50%;
    }
    .container__info___perfil-produto{
        display: flex;
        flex-direction: column;
        gap: 0.256rem;
    }
    .nome__perfil___produto{
        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-bold);
        font-size: 16px;
        letter-spacing: .03rem;

        color: #080808;
    }
    .arroba__perfil___produto{
        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-bold);
        font-size: 14px;
        letter-spacing: .03rem;

        color: #979797;
    }
    .botao__tipo___artigo{
        border: none;
        border-radius: 7px;

        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        padding-left: 2.188rem;
        padding-right: 1.313rem;

        font-family: var(--paragraph-SF-Semibold);
        font-weight: var(--paragraph-bold);
        font-size: 12px;

        letter-spacing: .02rem;

        color: #FFFFFF;

        
        background-position-y: center;
        background-repeat: no-repeat;
    }
    .tipo__artigo___revisao{
        background-color: var(--green-primary);

        background-position-x: .3rem;
        background-image: url("../../Assets/Avaliacao/Vetores/vetor-revisao.svg");
        background-size: 2rem 2rem;
    }

    .tipo__artigo___avaliacao{
        background-color: var(--blue-primary);

        background-position-x: .3rem;
        background-image: url("../../Assets/Avaliacao/Vetores/vetor-avaliacao.svg");

        background-size: 2rem 2rem;
    }
    .tipo__artigo___opiniao{
        background-color: var(--orange-primary);

        background-position-x: .3rem;
        background-image: url("../../Assets/Avaliacao/Vetores/vetor-opiniao.svg");

        background-size: 2rem 2rem;
    }
    .tipo__artigo___descricao{
        background-color: var(--red-primary);

        background-position-x: .3rem;
        background-image: url("../../Assets/Avaliacao/Vetores/vetor-descricao.svg");

        background-size: 2rem 2rem;
    }
    /*----------------------SECAO-INFO-CARDS--------------------*/
    .secao__info___card-produto{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .container__info___card-produto{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.75rem;
    }
    .imagem__card-produto{
        width: 10.938rem;
        height: 10.938rem;
    }
    .container__texto___card-produto{
        display: flex;
        flex-direction: column;
        gap: .375rem;
    }
    .titulo__texto___produto{
        font-family: var(--heading-poppins);
        font-size: 24px;
        font-weight:600;

        line-height: 160%;

        color: #1A1A1A;

        width: 16.313rem;
    }
    .container__nota___produto{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10.375rem;
    }
    .titulo__nota___produto{
        font-family: var(--heading-poppins);
        font-size: 14px;
        font-weight:600;

        line-height: 24px;

        color: #1A1A1A;
    }
    .nota__final___produto{
        font-family: var(--paragraph-SF-Bold);
        font-size: 14px;

        letter-spacing: 0.03rem;

        background-color: var(--blue-primary);

        color: #FFFFFF;

        padding-left: 0.2rem;
        padding-right: 0.2rem;
        padding-top: .5rem;
        padding-bottom: .5rem;

        border-radius: 4.5px;
    }
    .container__custo___beneficio{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .6rem;

        margin-top: 0.25rem;
        margin-bottom: 0.625rem;

    }
    .titulo__custo-beneficio{
        font-family: var(--heading-poppins);
        font-size: 14px;
        font-weight:600;
    }
    .container__nota___custo-beneficio{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .375rem;
    }
    .nota__custo-beneficio:nth-child(5){
        background-color: #B9B9B9;
    }
    .nota__custo-beneficio{
        background-color: var(--blue-primary);

        border-radius: 50%;

        width: 0.875rem;
        height: 0.875rem;
    }
    .container__comparativo___produto{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.5rem;
    }
    .container__input___check{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.875rem;
    }
    .container__input___checkmarck{
        width: 1.438rem;
        height: 1.438rem;
    }
    .input__aceitar-termos{
        all: unset;

        width: 1.438rem;
        height: 1.438rem;

        background-color: transparent;
        border-radius: 5px;

        border: 2px solid #E8E8E8;

        display: inline-block;

        cursor: pointer;
    }
    .input__aceitar-termos:checked{
        background-color: var(--blue-primary);
        color: var(--blue-primary);

        border: 2px solid var(--blue-primary);

        background-image: url("../../Assets/Login/vetor-botao-check.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
    .label__check___comparativo{
        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-bold);
        font-size: 14px;
        letter-spacing: .03rem;

        color: #303030;
    }
    .container__topicos-produto{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.563rem;
    }
    .botoes__topicos___produto{
        padding-top: 0.313rem;
        padding-bottom: 0.313rem;
        padding-left: 0.938rem;
        padding-right: 0.938rem;

        background: #F5F5F5;

        border-radius: 6px;
        border: none;

        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-bold);
        font-size: 14px;

        letter-spacing: .03rem;

        color: #9F9F9F;
    }
/*-------------------------PONTOS-PRODUTO----------------------*/
.secao__pontos___produto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-top: 2.5rem;
    padding-bottom: 3.125rem;


}
    /*-------------------------PONTOS-POSITIVOS----------------------*/
    .secao__pontos-positivos{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }
    .titulo__ponto-positivo{
        font-family: var(--heading-poppins);
        font-weight: var(--heading-medium);
        font-size: 18px;

        color: var(--green-primary);

        margin: 0%;
        margin-bottom: 1rem;

        padding-left: 2rem;
        background-image: url("../../Assets/Avaliacao/Vetores/vetor-like.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 1.5rem 1.5rem;
    }
    .produto__ponto-positivo{
        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-bold);
        font-size: 16px;

        margin: 0%;

        color: #07070E;

        padding-left: 2rem;
        background-image: url("../../Assets/Avaliacao/Vetores/vetor-ponto-positivo.svg");
        background-repeat: no-repeat;
        background-position: .5rem center;
    }
    /*-------------------------PONTOS-NEGATIVOS----------------------*/
    .secao__pontos-negativos{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }
    .titulo__ponto-negativo{
        font-family: var(--heading-poppins);
        font-weight: var(--heading-medium);
        font-size: 18px;

        color: #BF2F2F;

        margin: 0%;
        margin-bottom: 1.563rem;

        padding-left: 2rem;
        background-image: url("../../Assets/Avaliacao/Vetores/vetor-dislike.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 1.5rem 1.5rem;
    }
    .produto__ponto-negativo{
        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-bold);
        font-size: 16px;

        margin: 0%;

        color: #07070E;

        padding-left: 2rem;
        background-image: url("../../Assets/Avaliacao/Vetores/vetor-ponto-negativo.svg");
        background-repeat: no-repeat;
        background-position: .5rem center;
    }
    /*-----------------------PRECO-PRODUTO-------------------*/
    .secao__valor___produto{
        display: flex;
        flex-direction: column;
        gap: 3.813rem;
    }
    .data__produto{
        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-bold);
        font-size: 14px;

        line-height: 150%;  

        color: #9B9999;
    }
    .container__preco___produto{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.563rem;
    }
    .titulo__preco___produto{
        font-family: var(--heading-poppins);
        font-weight: var(--heading-medium);
        font-size: 16px;

        color: #000000;
    }
    .valor__preco___produto{
        font-family: var(--heading-poppins);
        font-weight: var(--heading-bold);
        font-size: 30px;

        color: #000000;
    }
    /*---------------------GOSTEI-GOSTARIA------------------*/
    .secao__gostei___opiniao-mobile{
        display: none;
    }
    .secao__gostei___opiniao{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        padding-top: 2.5rem;
        padding-bottom: 3.125rem;

        padding-left: 2rem;
        padding-right: 6rem;
    }
    .secao__lista___gostei{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .titulo__lista___gostei{
        font-family: var(--heading-poppins);
        font-weight: var(--heading-medium);
        font-size: 18px;

        color: #1A1A1A;

        margin: 0%;
        margin-bottom: 1.063rem;

        padding-left: 2rem;
    }
    .produto__lista___gostei{
        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-bold);
        font-size: 16px;

        margin: 0%;

        color: #9F9F9F;

        padding-left: 3rem;
    }
    /*---------------------NAO-AVALIADO-----------------*/
    .secao__botao___nao-avaliado-mobile{
        display: none;
    }
    .secao__botao___nao-avaliado{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;

        padding-left: 8rem;
        padding-top: 1.8rem;
        padding-bottom: 2rem;
    }
    .titulo__secao___nao-avaliado{
        font-family: var(--heading-poppins);
        font-weight: var(--heading-medium);
        font-size: 14px;

        color: #1A1A1A;

        margin: 0%;
    }
    .botao__nao-avaliado{
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
        padding-left: 2.688rem;
        padding-right: 2.688rem;
        
        background: var(--blue-primary);

        border-radius: 8px;
        border: none;

        font-family: var(--paragraph-SF-Bold);
        font-weight: var(--paragraph-bold);
        font-size: 14px;

        line-height: 150%;  

        color: #FFFFFF;

        letter-spacing: .01rem;
    }
    /*-------------------FILTROS-PRODUTOS----------------*/
    .container__menu___filtros{
        display: none;
        flex-direction: row;
        justify-content: flex-start;

        
        position: fixed;
        top: 0%;
        left: 0%;

        width: 100vw;
        height: 100vh;

        background: rgba(0, 0, 0, 0.2);

        z-index: 400000;
    }
    @keyframes animaFiltro {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
            left: 0%;
        }
    }
    .secao__filtros___produtos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        position: relative;
        left: -25%;

        background: #FFFFFF;

        height: 100vh;
        width: 22.313rem;

        padding-left: 3.688rem;
        padding-right: 1.875rem;
        padding-top: 4.25rem;
        padding-bottom: 7.375rem;

        overflow-y: scroll;
        overscroll-behavior: contain;

        scrollbar-width: none;

        opacity: 0;
    }
    .botao__fecha___filtros{
        border: none;

        background-color: transparent;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        width: 17rem;

        margin-bottom: 0.781rem;
    }
    .secao__links___menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.781rem;

        margin-bottom: 4rem;
    }
    .titulo__links___menu{
        font-family: var(--paragraph-SF-Bold);
        font-weight: var(--paragraph-bold);
        font-size: 18px;

        line-height: 19px;  

        color: #303030;

        letter-spacing: .01rem;

        margin: 0%;
        margin-bottom: 1.094rem;
    }
    .lista__links___menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.781rem;

    }
    .link__lista___menu{
        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-medium);
        font-size: 14px;

        line-height: 19px;  

        color: #303030;

        letter-spacing: .01rem;

        opacity: .7;
    }
    #destaque__link___menu{
        opacity: 1;
    }
    .secao__filtros___checkbox{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;

        margin-bottom: 7.688rem;
    }   
    .titulo__filtros___checkbox{
        font-family: var(--paragraph-SF-Bold);
        font-weight: var(--paragraph-bold);
        font-size: 18px;

        line-height: 19px;  

        color: #303030;

        letter-spacing: .01rem;

        margin: 0%;
        margin-bottom: 1.094rem;
    }
    .secao__filtros___precos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;

        margin-bottom: 7.375rem;
    }
    .titulo__filtros___precos{
        font-family: var(--paragraph-SF-Bold);
        font-weight: var(--paragraph-bold);
        font-size: 18px;

        line-height: 19px;  

        color: #303030;

        letter-spacing: .01rem;

        margin: 0%;
    }
    .container__filtro___preco{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.188rem;

        margin-bottom: 0.313rem;
    }
    .container__exibir{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15.688rem;
        height: 1.15rem;
    }
    .valor__range-preco{
        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-medium);
        font-size: 12px;

        line-height: 19px;  

        color: #666666;

        letter-spacing: .01rem;

        margin: 0%;
    }
    .valor__range-nota{
        font-family: var(--paragraph-SF-Medium);
        font-weight: var(--paragraph-medium);
        font-size: 12px;

        line-height: 19px;  

        color: #666666;

        letter-spacing: .01rem;

        margin: 0%;
    }
    .container__legenda___range{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 15.688rem;
    }
    .nome__range{
        font-family: var(--paragraph-SF-Bold);
        font-weight: var(--paragraph-bold);
        font-size: 14px;

        line-height: 19px;  

        color: #303030;

        letter-spacing: .01rem;

        margin: 0%;
    }
    .secao__filtros___opcoes{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
    }
    .titulo__filtros___opcoes{
        font-family: var(--paragraph-SF-Bold);
        font-weight: var(--paragraph-bold);
        font-size: 18px;

        line-height: 19px;  

        color: #303030;

        letter-spacing: .01rem;

        margin: 0%;
        margin-bottom: 1rem;
    }
    input[type=range] {
        height: 22px;
        -webkit-appearance: none;
        margin: 0 0;
        width: 15.688rem;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 9px;
        cursor: pointer;
        transition: all .2s ease-in-out;
        box-shadow: 0px 0px 0px #000000;
        background: #87E2FF;
        border-radius: 9px;
        border: 0px solid #000000;
      }
      input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #0094FF;
        border: 8px solid #0094FF;
        height: 8px;
        width: 8px;
        border-radius: 50px;
        background: #FFFFFF;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3.5px;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: #87E2FF;
      }
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 9px;
        cursor: pointer;
        transition: all .2s ease-in-out;
        box-shadow: 0px 0px 0px #000000;
        background: #87E2FF;
        border-radius: 9px;
        border: 0px solid #000000;
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #0094FF;
        border: 8px solid #0094FF;
        height: 8px;
        width: 8px;
        border-radius: 50px;
        background: #FFFFFF;
        cursor: pointer;
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 9px;
        cursor: pointer;
        transition: all .2s ease-in-out;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: #87E2FF;
        border: 0px solid #000000;
        border-radius: 18px;
        box-shadow: 0px 0px 0px #000000;
      }
      input[type=range]::-ms-fill-upper {
        background: #87E2FF;
        border: 0px solid #000000;
        border-radius: 18px;
        box-shadow: 0px 0px 0px #000000;
      }
      input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #0094FF;
        border: 8px solid #0094FF;
        height: 8px;
        width: 8px;
        border-radius: 50px;
        background: #FFFFFF;
        cursor: pointer;
      }
      input[type=range]:focus::-ms-fill-lower {
        background: #87E2FF;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: #87E2FF;
      }
    /*-------------------PAGINAS-PRODUTOS----------------*/

    .secao__paginas___produtos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: .5rem;

        width: 68.063rem;

        margin-bottom: 5.375rem;
    }
    .lista__paginas___produtos{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
    }
    #botao__desativado{
        background-color: #919EAB;

        opacity: .5;

        border: none;
    }
    .botao__lista___paginas{
        padding-top: 0.425rem;
        padding-bottom: 0.425rem;
        padding-left: 0.625rem;
        padding-right: 0.625rem;

        border: 1px solid #DFE3E8;
        border-radius: 4px;

        background-color: #FFFFFF;
    }
    .botao__paginas{

        padding-top: 0.425rem;
        padding-bottom: 0.425rem;
        padding-left: 0.625rem;
        padding-right: 0.625rem;

        border: 1px solid #DFE3E8;
        border-radius: 4px;

        background-color: #FFFFFF;

        font-family: var(--paragraph-SF-Bold);
        font-weight: var(--paragraph-bold);
        font-size: 14px;

        line-height: 19px;  

        color: #212B36;

        letter-spacing: .01rem;

        width: 2rem;
        height: 2rem;

        text-align: center;
    }
    #pagina__atual{
        border: 1px solid #329FC0;

        color: var(--blue-primary);
    }
      
    /*-------------------ABA-COMPARATIVOS----------------*/
    .secao__aba___comparativos{
        flex-direction: column;
        align-items: center;

        width: 100vw;

        position: fixed;
        bottom: -25%;

        background: #FAFAFA;

        padding-top: 1.688rem;
        padding-bottom: 2.938rem;

        opacity: 0;
    }
    @keyframes animaComparativos {
        0%{
            bottom: -25%;
            opacity: 0;
        }
        100%{
            bottom: 0%;
            opacity: 1;
        }
    }
    .secao__cabecalho___comparativos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 70.125rem;
    }
    .container__titulo___comentarios{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
    }
    .titulo__cabecalho___comparativos{
        font-family: var(--heading-poppins);
        font-weight: var(--heading-medium);
        font-size: 30px;

        color: #243141;

        margin: 0%;
    }
    .numero__maximo___comparativos{
        font-family: var(--paragraph-SF-Light);
        font-size: 14px;

        color: #AEAEAE;

        margin: 0%;
    }
    .container__botoes___comparativos{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.25rem;
    }   
    .botao__remover___comparativos{
        font-family: var(--paragraph-SF-Bold);
        font-size: 14px;
        
        color: #222222;

        background: #FFFFFF;

        border-radius: 8px;
        border: none;

        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
        padding-left: 1.85rem;
        padding-right: 1.85rem;
    }
    .botao__comparar___itens{
        font-family: var(--paragraph-SF-Bold);
        font-size: 14px;

        color: #FFFFFF;

        background: var(--green-primary);

        border-radius: 8px;
        border: none;

        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
        padding-left: 1.604rem;
        padding-right: 1.604rem;
    }
    .lista__comparativos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        width: 76.125rem;
    }
    .item__comparativos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .botao__remove___item-comparativo{
        position: relative;
        top: 1.5rem;
        left: 6rem;

        border: none;
        background-color: transparent;
    }
    .svg__botao-remove{
        width: 1.5rem;
        height: 1.5rem;
    }
    .imagem__item___comparativo{
        width: 6.875rem;

        margin-bottom: 0.375rem;
    }
    .nome__item___comparativo{
        font-family: var(--heading-poppins);
        font-weight: var(--heading-medium);
        font-size: 16px;

        color: #1A1A1A;

        margin: 0%;
    }
}